.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home {
  border: 1px solid #242323;
  margin: 5px;
}

.card {
  border: 1px solid #242323;
  border-radius: 8px;
  margin-top: 5px;
  margin: 5px;
}

.card-body {
  padding: 10px;
}

.card-title {
  margin-bottom: 0;
  font-size: 1.2em;
  color: #333;
}
